body {
  background-color: rgb(70, 57, 57);
  text-align: center;
  color: white;
  margin: 0;
}

header {
  background-color: chocolate;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}

p {
  background-color: white;
  color: black;
  width: 80%;
  border: 2px solid black;
  padding: 40px;
  margin-left: 50px;
  margin-top: 40px;
}
