body {
  background-color: rgb(70, 57, 57);
  text-align: center;
  color: white;
  margin: 0;
}

header {
  background-color: chocolate;
  padding: 20px;
  width: 100%;
  font-size: 25px;
  font-weight: bold;
}
